{% load thumbnail %}

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<div class="container">

<h1 class="text-center">Hive {{inspection_a.hive.name}} Comparison</h1>
<div class="row">
    <div class="col-md-6">
    <h1>#{{ inspection_a.id }}</h1>
    <h3>{{ inspection_a.timestamp }}</h3>
    <ul>
      {% for note in inspection_a.list_notes %}
      <li>{{ note }}</li>
      {% endfor %}
    </ul>
    </div>
    <div class="col-md-6 text-right">
    <h1>#{{ inspection_b.id }}</h1>
    <h3>{{ inspection_b.timestamp }}</h3>
    <ul>
      {% for note in inspection_b.list_notes %}
      <li>{{ note }}</li>
      {% endfor %}
    </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-6 text-left">
        {% with inspection_a.get_previous_by_timestamp as prev %}
           {% if prev %}
           &#9668; <a href="{% url 'hives:compare' prev.id inspection_b.id %}">#{{ prev.id }}</a>
           {% endif %}
        {% endwith %}
        {% with inspection_a.get_next_by_timestamp as next %}
           {% if next %}
           <a href="{% url 'hives:compare' next.id inspection_b.id %}">#{{ next.id }}</a> &#9658;
           {% endif %}
        {% endwith %}
    </div>
    <div class="col-md-6 text-right">
        {% with inspection_b.get_previous_by_timestamp as prev %}
           {% if prev %}
           &#9668; <a href="{% url 'hives:compare' inspection_a.id prev.id %}">#{{ prev.id }}</a>
           {% endif %}
        {% endwith %}
        {% with inspection_b.get_next_by_timestamp as next %}
           {% if next %}
           <a href="{% url 'hives:compare' inspection_a.id next.id %}">#{{ next.id }}</a> &#9658;
           {% endif %}
        {% endwith %}
    </div>
</div>

<hr>

{% for boxcode, boxpairs in pairs.items %}
<h2 class="text-center">{{ boxcode }}</h2>
{% for framecode, pair in boxpairs %}
<h3 class="text-center">{{ framecode }}</h3>
<div class="row">
    <div class="col-md-6 text-center">
        {% if pair.0 %}
        <img src="{% thumbnail pair.0.img_front 525x350 crop %}" alt="" />
        <img src="{% thumbnail pair.0.img_back 525x350 crop %}" alt="" />
        {% endif %}
    </div>
    <div class="col-md-6 text-center">
        {% if pair.1 %}
        <img src="{% thumbnail pair.1.img_front 525x350 crop %}" alt="" />
        <img src="{% thumbnail pair.1.img_back 525x350 crop %}" alt="" />
        {% endif %}
    </div>
</div>
<hr/>
{% endfor %}
{% endfor %}
</div>




