{% load thumbnail %}

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<div class="container">
{% if inspection %}
    <h1>Inspection {{inspection.hive.name}}#{{ inspection.id }}</h1>
    <h3>{{ inspection.timestamp }}</h3>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>Frame</th>
                <th>Front</th>
                <th>Back</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
    {% for iframe in inspection.inspectionframe_set.all %}
        <tr>
            <td>{{ iframe.frame.code }}</td>
            <td><img src="{% thumbnail iframe.img_front 350x233 crop %}" alt="" /></td>
            <td><img src="{% thumbnail iframe.img_back 350x233 crop %}" alt="" /></td>
            <td>{{ iframe.note }}</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No inspection available.</p>
{% endif %}
</div>
